[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.neochapay.samoletik
Exec=/usr/bin/ru.neochapay.samoletik
Name=Samoletik
Name[ru]=Самолётик

[X-Application]
Permissions=Audio;Internet;
OrganizationName=ru.neochapay
ApplicationName=samoletik
